<div class="col">
    <div class="bg-img">
        <div class="header-text">
            <h2 class="elementor-heading-title elementor-size-default">
                Use our app to rent a vehicle very easily.
            </h2>
        </div>
    </div>
</div>

<div class="col" style="margin-top: 20px;">

    <div class="row">
        <div class="col">
            <mat-card>
                <mat-card-header>
                    <mat-card-subtitle>
                        <mat-icon>content_copy</mat-icon>
                        <p class="card-category">All our vehicles</p>
                        <h3 class="card-title">{{AllVehicles}}</h3>
                    </mat-card-subtitle>
                </mat-card-header>
                <div class="card-footer">
                    <div class="stats">
                        <mat-icon>date_range</mat-icon>
                        Last 24 Hours
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="col">
            <mat-card>
                <mat-card-header>
                    <mat-card-subtitle>
                        <mat-icon>content_copy</mat-icon>
                        <p class="card-category">Free vehicles</p>
                        <h3 class="card-title">{{AvailableVehicles}} / {{AllVehicles}} </h3>
                    </mat-card-subtitle>
                </mat-card-header>
                <div class="card-footer">
                    <div class="stats">
                        <mat-icon>date_range</mat-icon>
                        Last 24 Hours
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="col">
            <mat-card>
                <mat-card-header>
                    <mat-card-subtitle>
                        <mat-icon>content_copy</mat-icon>
                        <p class="card-category">Currently in use</p>
                        <h3 class="card-title">{{AllVehicles - AvailableVehicles}}</h3>
                    </mat-card-subtitle>
                </mat-card-header>
                <div class="card-footer">
                    <div class="stats">
                        <mat-icon>date_range</mat-icon>
                        Last 24 Hours
                    </div>
                </div>
            </mat-card>
        </div>
    </div>






</div>

<div class="container" style="margin-top: 20px;">
    <div class="row">
        <div class="col-md-6">
                <canvas baseChart [data]="barChartData" [options]="barChartOptions">
                </canvas>
        </div>

        <div class="col-md-6">
                <canvas baseChart [data]="barChartData2" [options]="barChartOptions">
                </canvas>
        </div>
    </div>
</div>