<mat-card>
  <mat-card-header class="card-header" style="background-color: rgb(116, 55, 20);">
    <mat-card-title>
      Invoices
    </mat-card-title>
    <mat-card-subtitle>
      Here you can view and download all Invoices
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <!-- <form [formGroup]="searchForm">
                    <h5>Search options</h5>
                    <div class="row">
                      <div class="col">
                        <mat-form-field appearance="fill">
                          <mat-label>Type</mat-label>
                          <mat-select formControlName="typeS" (closed)="setTable()" #type matNativeControl required>
                            <mat-option [value]="'Bike'">Bike
                            </mat-option>
                            <mat-option [value]="'Car'">Car
                            </mat-option>
                            <mat-option [value]="'Scooter'">Scooter
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col">
                        <mat-form-field appearance="fill">
                          <mat-label>Model</mat-label>
                          <mat-select formControlName="modelS" (closed)="setTable()" #model matNativeControl required>
                            <mat-option [value]="'Electric'">Electric
                            </mat-option>
                            <mat-option [value]="'Normal'">Normal
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                  </form> -->

    <table mat-table [dataSource]="dataSource" matSort #table (matSortChange)="announceSortChange($event)"
      class="mat-elevation-z8">
      <!-- Position Column -->
      <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="User">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by User"> User </th>
        <td mat-cell *matCellDef="let element"> {{biling.get(element.bilingId)?.fullName}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Vehicle">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by vehicle"> Vehicle </th>
        <td mat-cell *matCellDef="let element"> {{vehicles.get(element.vehicleId)?.name}} </td>
      </ng-container>

      <ng-container matColumnDef="Date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Date"> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.date | date}} </td>
      </ng-container>


      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef> Download </th>
        <td mat-cell *matCellDef="let element">

          <button mat-icon-button [title]="'download' | titlecase"
            (click)="getInvoicePdf(element, element.vehicleId, element.id)" color="warn">
            <mat-icon>cloud_download</mat-icon>
          </button>

          <button mat-icon-button [title]="'edit' | titlecase" (click)="editInvoice(element)" color="green">
            <mat-icon>edit</mat-icon>
          </button>

          <button mat-icon-button [title]="'delete' | titlecase" (click)="deleteInvoice(element.id)" color="warn">
            <mat-icon>delete</mat-icon>
          </button>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>

  </mat-card-content>

  <mat-card-actions>
    <mat-card-actions>
      <button mat-button (click)="editInvoice(null)">Insert invoice</button>
    </mat-card-actions>
  </mat-card-actions>
</mat-card>