<div class="col">

  <mat-card>
    <mat-card-header class="card-header" style="background-color: rgb(14, 109, 77);">
      <mat-card-title>
        My Invoices
      </mat-card-title>
      <mat-card-subtitle>
        Here you can view and download all your Invoices
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <!-- <form [formGroup]="this.searchForm" >
          <mat-form-field appearance="fill" >
            <mat-label>Appointments from</mat-label>
            <mat-icon matPrefix>settings</mat-icon>
            <mat-select (selectionChange)="filter()" formControlName="option">
              <mat-option [value]="'3'">Last 3 months</mat-option>
              <mat-option [value]="'6'">Last 6 months</mat-option>
              <mat-option [value]="'all'">All appointments</mat-option>
            </mat-select>
          </mat-form-field>
          </form> -->


      <table mat-table [dataSource]="dataSource" matSort #table (matSortChange)="announceSortChange($event)"
        class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="Id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="Vehicle">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by vehicle"> Vehicle </th>
          <td mat-cell *matCellDef="let element"> {{vehicles.get(element.vehicleId)?.name}} </td>
        </ng-container>

        <ng-container matColumnDef="Date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Date"> Date </th>
          <td mat-cell *matCellDef="let element"> {{element.date | date}} </td>
        </ng-container>


        <ng-container matColumnDef="Download">
          <th mat-header-cell *matHeaderCellDef> Download </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button [title]="'download' | titlecase"
              (click)="getInvoicePdf(element, element.vehicleId, element.id)" color="warn">
              <mat-icon>cloud_download</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
      </mat-paginator>
    </mat-card-content>
  </mat-card>
</div>