<ng-container>
  <mat-toolbar>
    <button mat-icon-button *ngIf="sidenav.mode === 'over' " (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">
          menu
      </mat-icon>
      <mat-icon *ngIf="sidenav.opened">
          close
      </mat-icon>
  </button>
    <button mat-button style="font-size: 20px;"routerLink="">DRX2022</button>
    <span class="spacer"></span>
    <button *ngIf="!IsLogged" mat-button (click)="LogIn()" class="icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>person</mat-icon>
      Login
    </button>
  
    <button *ngIf="!IsLogged" mat-button (click)="Register()" class="icon" aria-label="Example icon-button with share icon">
      <mat-icon>person_add</mat-icon>
      Register
    </button>
  
    <button *ngIf="IsLogged" mat-button (click)="Logout()" class="icon" aria-label="Example icon-button with share icon">
      <mat-icon>exit_to_app</mat-icon>
      Logout
    </button>
  
  </mat-toolbar>
  <mat-sidenav-container class="container1">
    <mat-sidenav #sidenav opened class="sidenav">
      <div *ngIf="!IsLogged">
          welcome to our site
      </div>
      <div *ngIf="IsLogged" style="margin-top: 50px; margin-left: 20px;">
        <mat-list role="list">
            <mat-list-item role="listitem">
                <button mat-button class="button-color" (click)="onSelect()" routerLink="/profile">
                    <mat-icon>person_pin</mat-icon>
                    <span class="button-text">Profile</span>
                </button>
            </mat-list-item>
            <mat-list-item role="listitem">
                <button mat-button class="button-color" (click)="onSelect()" routerLink="/myinovices">
                    <mat-icon>list</mat-icon>
                    <span class="name" class="button-text">My Inovices</span>
                </button>
            </mat-list-item>
            <mat-list-item role="listitem">
                <button mat-button class="button-color" (click)="onSelect()" routerLink="/myrents">
                    <mat-icon>rate_review</mat-icon>
                    <span class="button-text">My Rents</span>
                </button>
            </mat-list-item>
        </mat-list>
        <mat-divider></mat-divider>
    </div>
    <div style="margin-left: 20px;" *ngIf="IsLogged && IsAdmin">
      <mat-list role="list1">
          <mat-list-item role="list1item">
              <button mat-button class="button-color" (click)="onSelect()" routerLink="/users">
                  <mat-icon>people</mat-icon>
                  <span class="button-text">Users</span>
              </button>
          </mat-list-item>
          <mat-list-item role="list1item">
              <button mat-button class="button-color" (click)="onSelect()" routerLink="/rents">
                  <mat-icon>rate_review</mat-icon>
                  <span class="button-text">Rents</span>
              </button>
          </mat-list-item>
          <mat-list-item role="list1item">
              <button mat-button class="button-color" (click)="onSelect()" routerLink="/inovices">
                  <mat-icon>list</mat-icon>
                  <span class="button-text">Inovices</span>
              </button>
          </mat-list-item>
          <mat-list-item role="list1item">
            <button mat-button class="button-color" (click)="onSelect()" routerLink="/vehicles">
                <mat-icon>list</mat-icon>
                <span class="button-text">Vehicles</span>
            </button>
        </mat-list-item>
          
      </mat-list>
      <mat-divider></mat-divider>
  </div>

    </mat-sidenav>
    <mat-sidenav-content  (click)="tirggerSlider()" >
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <mat-toolbar class="footer">Footer</mat-toolbar>
</ng-container>

