@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



body {
    background-color: #e2e8f0;
    padding: 20px
}

.breadcrumb {
    background-color: #c5cee4
}

.breadcrumb a {
    text-decoration: none
}

.container {
    max-width: 1000px;
    padding: 0
}
.main{
    display: flex; 
    justify-content: center; 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
p {
    margin: 0
}

.d-flex a {
    text-decoration: none;
    color: #686868;
    margin-top: 100%;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover
}

.fab.fa-twitter {
    color: #8ab7f1
}

.fab.fa-instagram {
    color: #E1306C
}

.fab.fa-facebook-f {
    color: #5999ec
}
.text-muted{
    margin-right: 10px;
}
mat-card-actions{
    display: flex;
    justify-content: center;
    overflow-x: auto;
}
.mat-icon {
    vertical-align: middle;
}