<h2 mat-dialog-title>Vehicle Form</h2>
<div mat-dialog-content>
    <form [formGroup]="this.vehicleForm" style="overflow-x:auto;">

        <mat-form-field appearance="fill">
            <mat-label>Type</mat-label>
            <mat-select formControlName="type" #type matNativeControl required>
                <mat-option [value]="'Bike'">Bike
                </mat-option>
                <mat-option [value]="'Car'">Car
                </mat-option>
                <mat-option [value]="'Scooter'">Scooter
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Model</mat-label>
            <mat-select formControlName="model" #model matNativeControl required>
                <mat-option [value]="'Electric'">Electric
                </mat-option>
                <mat-option [value]="'Normal'">Normal
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input formControlName="name" matInput>
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>


        <mat-form-field appearance="outline">
            <mat-label>Price per minute (RON)</mat-label>
            <input type="number" formControlName="pricePerMinute" matInput>
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>


        <mat-form-field appearance="outline">
            <mat-label>Location </mat-label>
            <input formControlName="location" matInput>
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
    </form>
</div>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close color="warn">Cancel</button>
    <button mat-button (click)="editVehicle()" color="primary">Save</button>
</mat-dialog-actions>