.example-spacer {
    flex: 1 1 auto;
  }

  table {
    width: 100%;
  }
  mat-form-field{
    font-size:  16 px;
    width: 100%;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  .mat-row {
    height: auto;
  }
  
  .mat-cell {
    padding: 9px 9px 9px 0;
  }