<h2 mat-dialog-title>Register form</h2>
<div mat-dialog-content>

  <form [formGroup]="this.form" style="max-width: 500px;">

    <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input formControlName="username" matInput type="text" class="fadeIn second" placeholder="Ex. defd123">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput type="email" class="fadeIn third" placeholder="Ex. 1234df@yahoo.com">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>


    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input formControlName="password" matInput type="password" class="fadeIn third" placeholder="Ex. Mar43df@">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Confirm Password</mat-label>
      <input formControlName="confirmpassword" matInput type="password" class="fadeIn third" placeholder="Ex. Mar43df@">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
  </form>


</div>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close color="warn">Cancel</button>
  <button mat-button mat-dialog-close color="primary" (click)="login()">Go to Login</button>
  <button mat-button color="primary" (click)="submit()">Register</button>
</mat-dialog-actions>